<div class="container">
    <div class="card card-container">
      <div>Register</div>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
            <input type="email" id="inputEmail" class="form-control" required placeholder="Email" required>
            <input type="password" id="inputPassword" class="form-control" required placeholder="Password" required>
            <input type="password" id="inputPasswordConfirm" class="form-control" required placeholder="Password" required>
        </form>
    </div>
  </div>